:root {
    --colorPrimary: #222D50;
    --colorSecondry: #05BB75;
    --bgBox: #FAFAFA;
    --textDesc: #7B7B7B;
    --textGray: #ABADB9;
    --btnGray: #EAEAEA;
    --stroke: #D3D5D9;
    --stroke2: #E9E9EB;
    --transition: all .3s ease;;
    --font-family: yekanbakh, serif;
}

.btn-gray {
    display: flex;
    background: var(--btnGray);
    color: var(--colorPrimary);
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid var(--btnGray);
    font-family: var(--font-family);
    transition: var(--transition);
}

.btn-gray span svg {
    position: relative;
    top: 4px;
    left: -7px;
    fill: var(--colorPrimary);

}


.title-section{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--font-family)
}

a {
    text-decoration: none;
    font-family: var(--font-family)
}

img {
    /*max-width: 100%;*/
    /*width: 100%;*/
    /*object-fit: cover;*/
}

ul {
    list-style: none;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

header {
    background: #FAFAFA;
    padding: 25px 0;

}

.header {
    display: flex;
    align-items: center;
    background: #fff;
    height: 70px;
    border: 1px solid #E9E9EB;
    border-radius: 10px;
    width: 100%;
    padding: 0 15px;
}

.header .logo {
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;

}

.header .logo a {
    margin-bottom: -7px;
}

.header .logo img {
    width: 114px;
}

.header .navbar {
    /*background: violet;*/
    flex: 1;
    margin: 0 15px;
}

.menu-hamburger img {
    width: 100%;
    max-width: 30px;
    display: none;
    cursor: pointer;

}

.header .navbar ul {
    display: flex;
    /*background: red;*/
    height: 100%;
}

.header .navbar ul li {
    position: relative;
}

.header .navbar ul li a {
    font-family: var(--font-family);
    margin-left: 15px;
    font-size: 1rem;
    color: var(--textGray);
    transition: var(--transition);
}

.header .navbar ul li a:hover {
    color: var(--colorSecondry);
}

.header .navbar-side {
    background: #e3e3e3;
    width: 36%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
    opacity: 1;
    transform: translate(100%);
    transition: var(--transition);
}

.header .navbar-side.active {
    display: block;
    opacity: 1;
    transform: translate(0);
}

.header .navbar-side ul {
    padding: 15px;
    position: relative;
}


.header .navbar-side ul li {
    padding: 15px 5px;


}

.header .navbar-side ul li a {
    color: var(--colorPrimary);
}


/*submenu*/
.navbar #submenu {
    position: absolute;
    background: var(--bgBox);
    border-radius: 7px;
    display: flex;
    height: auto;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    padding: 8px;
    margin-top: 150px;
    opacity: 0;
    transition: var(--transition);
    width: 432px;
    z-index: 2;
    visibility: hidden;
}

.active-submenu {
    margin-top: 15px !important;
    opacity: 1 !important;
    transition: var(--transition);
    visibility: visible !important;
}


.navbar #submenu li {
    text-align: center;
    background: var(--btnGray);
    margin: 9px 7px;
    border-radius: 5px;
    width: 45%;
}

.navbar #submenu li:last-child {
    align-self: self-start;
}

.navbar #submenu li a {
    text-align: center;
    height: 100%;
    padding: 7px;
    display: block;
    width: 100%;
}

.navbar #submenu li:hover a {
    color: var(--colorPrimary) !important;
}

/*navbar-side*/
.navbar-side .icon-close {
    position: absolute;
    cursor: pointer;
    right: 84%;
}

.navbar-side .icon-close img {
    width: min(100%, 35px);


}

.header .search-bar {
    background: var(--bgBox);
    padding: 5px 16px;
    width: 55px;
    height: 40px;
    margin: 0 14px;
    display: flex;
    border: var(--stroke2);
    border-radius: 5px;
    transition: var(--transition);
}

.header .search-bar.active {
    width: 400px;
}

.header .search-bar form {
    display: flex;
    align-self: center;
    width: 100%;
    height: 100%;
}

.header .search-bar input {
    border: none;
    flex: 1;
    width: 100%;
    font-size: 18px;
    background: transparent;
    font-family: var(--font-family);
    outline: none;
}

.header .search-bar input::placeholder {
    color: var(--textGray);
    font-size: 13px;
}

.header .search-bar form img {
    height: 22px;
    position: relative;
    top: 4px;
    cursor: pointer;

}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}


.account img {
    background: var(--colorPrimary);
    padding: 7px 7px;
    border-radius: 5px;
    transition: var(--transition);

}


.account img:hover {
    background: var(--colorSecondry);
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;

}

.cart img {
    background: var(--colorPrimary);
    padding: 7px 7px;
    border-radius: 5px;
    transition: var(--transition);
}

.cart img:hover {
    background: var(--colorSecondry);
}

/*intro*/

#intro {
}

#intro .intro {
    display: flex;
    justify-content: space-between;
}


.intro-right .counseling {
    text-align: center;
    width: 100%;
    background: var(--bgBox);
    top: -800px;
    bottom: 0;
    right: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    position: absolute;
    opacity: 0;
    transition: var(--transition);
    height: fit-content;
    visibility: hidden;
}

.active-counseling {
    top: 150px !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.intro-right .counseling img {
    position: absolute;
    width: 100%;
    max-width: 30px;
    left: 9px;
    top: 18px;
}


.intro-right .counseling form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.intro-right .counseling form div {
    width: 40%;
    margin: 5px;
}

.intro-right .counseling form div input {
    width: 100%;
    border: none;
    background: #fff;
    margin: 10px;
    font-family: var(--font-family);
    padding: 12px;
    display: block;
    outline: none;
}

.intro-right .counseling form div input#submit {
    background: var(--colorPrimary);
    color: #FAFAFA;
    border-radius: 5px;
    border: none;
    transition: var(--transition);
}

.intro-right .counseling form div input#submit:hover {
    background: var(--colorSecondry);
}

#intro .intro .intro-right {
    align-self: center;
    width: 50%;
    position: relative;
}

#intro .intro .intro-right h1 {
    font-weight: 700;
    width: 95%;
    font-size: 2.5rem;

}

#intro .intro .intro-right p {
    width: 65%;
    text-align: justify;
    line-height: 1.7rem;
    font-size: .8rem;
}

#intro .intro .intro-right h1 span {
    color: var(--colorSecondry);
}

#intro .intro .intro-right .intro-right-btn {
    margin-top: 20px;

}


#intro .intro .intro-right .intro-right-btn button:first-child {
    background: var(--colorSecondry);
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid var(--colorSecondry);
    font-family: var(--font-family);
    transition: var(--transition);
}

#intro .intro .intro-right .intro-right-btn button:first-child:hover {
    background: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
}

#intro .intro .intro-right .intro-right-btn button:first-child span img {
    position: relative;
    top: 4px;
    left: -7px;
}

#intro .intro .intro-right .intro-right-btn button:last-child {
    color: var(--colorSecondry);
    border: 1px solid var(--colorSecondry);
    padding: 7px 15px;
    border-radius: 5px;
    font-family: var(--font-family);
    background: transparent;
    transition: var(--transition);

}

#intro .intro .intro-right .intro-right-btn button:last-child:hover {
    border: 1px solid var(--colorPrimary);
    color: var(--colorPrimary);
}

#intro .intro .intro-right .intro-right-btn button:last-child:hover span svg {
    fill: var(--colorPrimary);
}

#intro .intro .intro-right .intro-right-btn button:last-child span svg {
    fill: var(--colorSecondry);
    position: relative;
    top: 4px;
    left: -7px;
    transition: var(--transition);

}

#intro .intro .intro-left {
    width: 50%;
    text-align: end;
}

#intro .intro .intro-left img {

    max-width: 83%;
}

/*progress*/

#progress {
    margin: 80px 0;
}

.progress {
    width: 882px;
    margin: 0 auto;
    text-align: center;
    /*background:red;*/
}

.progress .progress-title h2 {
    margin: 35px 0;
}

.progress .progress-items {
    display: grid;
    grid-template-columns: 1fr 17px 1fr 30px 1fr;
    justify-items: center;
    align-items: baseline;
}

.progress .arrow-blue {
    align-self: flex-start;
    margin-top: 50px;
}

.progress .arrow-red {
    align-self: flex-start;
}

/*courses*/

#courses {
    width: 100%;

}

#courses .courses .courses-title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


#courses .courses .courses-items {
    /*display: grid;*/
    /*grid-template-columns: repeat(4, auto);*/
    /*justify-content: space-between;*/
    /*width: 100%;*/
    /*gap: 15px;*/

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(auto, 290px));
    gap: 15px;
    position: relative;
}

#courses .courses .courses-items .author {
    /*position: absolute;*/

}

.courses-items .author > img {
    border-radius: 100px !important;
    width: 100% !important;
    max-width: 60px;
    border: 5px solid #fff;
    position: absolute;
    right: 0;
    top: 80px;
}

#courses .courses .courses-items .courses-item {
    border: 1px solid #F0F0F0;
    padding: 12px;
    border-radius: 5px;
    background: #fff;
    /*margin: 0 auto;*/

    position: relative;
}

#courses .courses .courses-items .courses-item img {
    width: 100%;
    border-radius: 5px;
    object-fit: fill;
}

#courses .courses .courses-items .courses-item a {
    text-align: center;
    color: var(--colorPrimary);
    font-family: var(--font-family);
    width: 268px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#courses .courses .courses-items .courses-item a h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px 0;
    text-overflow: ellipsis;
}

#courses .courses .courses-items .courses-item .course-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    padding: 6px;
    border-radius: 5px;
    margin: 10px 0;
    height: 66px;
    align-self: normal;
}

#courses .courses .courses-items .courses-item .course-desc .Release-time {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #BEC3CB;
    text-align: center;
}

#courses .courses .courses-items .courses-item .course-desc .Release-time div span {
    font-weight: 700;
    font-family: YekanBakhFaNum, serif;
    color: var(--colorPrimary);
}

#courses .courses .courses-items .courses-item .course-desc .number-Student {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #BEC3CB;
    text-align: center;
}

#courses .courses .courses-items .courses-item .course-desc .number-Student div span {
    font-weight: 700;
    font-family: YekanBakhFaNum, serif;
    color: var(--colorPrimary);
}

#courses .courses .courses-items .courses-item .course-desc .price {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #BEC3CB;
    text-align: center;

}

#courses .courses .courses-items .courses-item .course-desc .price div span {
    font-weight: 700;
    font-family: YekanBakhFaNum, serif;
    color: var(--colorPrimary);
}

#courses .courses .courses-items .courses-item .view-course {
    width: 100%;
    height: 42px;
    border: none;
    margin-top: 15px;
    font-family: var(--font-family);
    font-size: 18px;
    border-radius: 7px;
    background: var(--colorPrimary);
    color: #fff;
    transition: var(--transition);
    cursor: pointer;
}

#courses .courses .courses-items .courses-item .view-course:hover {
    background: var(--colorSecondry);
}


/*project*/

#project {
    width: 100%;
    margin: 80px 0;
    background: #FAFAFA;
    padding: 30px 0;
}

#project .project-title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /*background: #000;*/
}



#project .project .project-items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(auto, 290px));
    gap: 15px;
    background: #FAFAFA;
}

#project .project .project-items .project-item {
    background: #ffff;
    padding: 14px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

#project .project .project-items .project-item img {
    width: 100%;
    border-radius: 5px;
}

#project .project .project-items .project-item .detail-project {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: var(--bgBox);
    padding: 10px;
    border-radius: 5px;
}

#project .project .project-items .project-item .detail-project .time {
    display: flex;
    flex-direction: column;
}

#project .project .project-items .project-item .detail-project .time span:first-child {
    color: #A6ABB5;
    font-size: 12px;
    font-weight: 500;
}

#project .project .project-items .project-item .detail-project .time span:last-child {
    font-weight: 700;
    font-size: 13px;
}

#project .project .project-items .project-item .detail-project .name-project {
    display: flex;
    flex-direction: column;
}

#project .project .project-items .project-item .detail-project .name-project span:first-child {
    color: #A6ABB5;
    font-size: 12px;
    font-weight: 500;
}

#project .project .project-items .project-item .detail-project .name-project span:last-child {
    font-weight: 700;
    font-size: 13px;
}

#project .project .project-items .project-item .detail-project .price-project {
    display: flex;
    flex-direction: column;
}

#project .project .project-items .project-item .detail-project .price-project span:first-child {
    color: #A6ABB5;
    font-size: 12px;
    font-weight: 500;
}

#project .project .project-items .project-item .detail-project .price-project span:last-child {
    font-weight: 700;
    font-size: 13px;
}


/*article*/


#article{
    height: 600px;
}

#article .article-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 290px));
    gap: 20px;
}
#article .article-items .article-item{
    border: 1px solid #E5E5E5;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 6px;
}
#article .article-items .article-item img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
#article .article-items .article-item h2{
    color: var(--colorPrimary);
    font-size: 18px;
    margin:10px 0 5px 0;
    font-weight: 700;
}
#article .article-items .article-item p{
    color: #AAAEB5;
    font-size: 12px;
    margin-bottom: 25px;
}
#article .article-items .article-item a{
    color: var(--colorPrimary);
    background: var(--bgBox);
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: var(--transition);
}


#article .article-items .article-item:hover a{
    background: var(--colorSecondry);
}